<div class="sessions-page">

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="category-nav">
     <%= link_to root_path do %>
     <h2><</h2>
     <% end %>
     <div class="nav-title-ctn">
     <h3 class="nav-title">LOGIN</h3>
     </div>

  
<div class="button-link">
<%= f.submit "Login", class:"sessions_btn"%>
</div>
</div>


      

      <div class="field">
        <%= f.email_field :email, placeholder: "Email", autofocus: true, autocomplete: "email", required: true %>
      </div>

      <div class="field">
       
        <%= f.password_field :password, placeholder: "Password", autocomplete: "new-password", required: true %>
      </div>

    <% end %>

  </div>
</div>